{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style type="text/css">
.navbar-default .navbar .nav_l .menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/} a{ margin-top:-2px; border-top:2px solid #2E9900;background:#288400; }
#home_nav .navbar .sub_nav li a{ padding-left:10px; padding-right:10px; border-top:none; color:#fff; background:none; font-size:14px;}
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel">小铺查询</h4>
</div>
<div class="modal-body">
<form method="post" action="{ZL:GetNodeListUrl(5)/}">
<table class="table">
<tr>
<td class="text-center">小铺ID：</td><td><input type="number" name="shopid" id="shopid" class="form-control"></td><td></td>
</tr>
<tr>
<td class="text-center">小铺名称：</td><td><input type="text" name="shopname" id="shopname" class="form-control" ></td><td></td>
</tr>
<tr>
<td><button type="submit" class="btn btn-sm btn-danger center-block" style=" margin-left:100px; padding-left:30px; padding-right:30px;">查询</button></td><td></td><td></td>
</tr>
</table>
</form>
</div>
</div>
</div>
</div>
<div class="mySite">
<div class="container">
<ul class="breadcrumb">
<li>您的位置：<a href="/">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(5)/}">光雨小铺</a></li>
<li>光雨小铺查询</li>
</ul>
</div>
</div>
<!--面包屑导航结束-->
<div class="container">
<div class="shoplist">
<div class="shoplist_t"><span class="pull-right"><a href="{ZL:GetNodeLinkUrl(5)/}">返回光雨小铺>></a></span>查询 <strong>'{$PostRequest(shopname)$}'</strong> 的结果：</div>
<ul class="list-unstyled" id="result_list">
{ZL.Label id="光雨小铺查询结果_分页" NodeID="27" TitleNum="30" ShopID="{$PostRequest(shopid)$}" ShopName="{$PostRequest(shopname)$}" /}
</ul>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="job">
<div class="container">
<ul class="nav nav-tabs" role="tablist">
<li class="active"><a href="#home" role="tab" data-toggle="tab">找工作</a></li>
<li><a href="#profile" role="tab" data-toggle="tab">找人才</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="home">
<ul class="list-unstyled">
{ZL.Label id="抽取招聘类型列表" CateID="4" /}
</ul>
</div>
<div class="tab-pane" id="profile">
{ZL.Label id="输出简历列表" NodeID="30" TitleNum="30" QzNum="20" ShowNum="10" /}
</div>
</div>
</div>
</div>
{ZL.Label id="全站底部"/}
</body>
</html>
<script type="text/javascript">
//检测固顶事件
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//关闭顶部广告
 function img_clo(){
	var t= setTimeout($(".home_ad").slideUp(2000),2000);	
	}

//导航手机列表向上定时滚动
$(function(){ 
var $this = $(".renav"); 
var scrollTimer; 
$this.hover(function(){ 
clearInterval(scrollTimer); 
},function(){ 
scrollTimer = setInterval(function(){ 
scrollNews( $this ); 
}, 2000 ); 
}).trigger("mouseout"); 
}); 
function scrollNews(obj){ 
var $self = obj.find("ul:first"); 
var lineHeight = $self.find("li:first").height(); 
$self.animate({ "margin-top" : -lineHeight +"px" },300 , function(){ 
$self.css({"margin-top":"0px"}).find("li:first").appendTo($self); 
}) 
}

</script>
<SCRIPT>
var speed=60;
var MyMarh=setInterval(Marqueeh,speed)
demo2.innerHTML=demo1.innerHTML
demo.onmouseover=function(){ clearInterval(MyMarh) }
demo.onmouseout=function(){ MyMarh=setInterval(Marqueeh,speed) }
function Marqueeh(){
if(demo2.offsetHeight-demo.scrollTop<=0)
   demo.scrollTop-=demo1.offsetHeight
else{
   demo.scrollTop++
}
}

var speed2=60;
var MyMarh2=setInterval(Marqueeh2,speed2)
demor2.innerHTML=demor1.innerHTML
demor.onmouseover=function(){ clearInterval(MyMarh2) }
demor.onmouseout=function(){ MyMarh2=setInterval(Marqueeh2,speed2) }
function Marqueeh2(){
if(demor2.offsetHeight-demor.scrollTop<=0)
   demor.scrollTop-=demor1.offsetHeight
else{
   demor.scrollTop++
}
}
//小铺查询
$().ready(function(e) {
    $("#shop_search").bind("click",function(){
		$("#loginBox").fadeIn();
	})
});

var IsMousedown, LEFT, TOP, login;

document.getElementById("Mdown").onmousedown=function(e) {
login = document.getElementById("loginBox");
IsMousedown = true;
e = e||event;
LEFT = e.clientX - parseInt(login.style.left);
TOP = e.clientY - parseInt(login.style.top);

document.onmousemove = function(e) {
e = e||event;
if (IsMousedown) {
login.style.left = e.clientX - LEFT + "px";
login.style.top = e.clientY - TOP + "px";
}
}

document.onmouseup=function(){
IsMousedown=false;
}
}
</SCRIPT>
<script type="text/javascript">
$().ready(function(e) {
    $(".menu5").mouseenter(function(e) {
        $(this).find(".sub_nav").fadeIn();
    }).mouseleave(function(e) {
        $(this).find("ul").fadeOut();
    });;
});


</script>
