{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script> 
<style type="text/css">
.navbar-default .navbar .nav_l .menu3 a{ margin-top:-2px; border-top:2px solid #2E9900;background:#288400; }
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="place">
<img src="{$CssDir/}images/sport_bg.jpg" class="center-block img-responsive" alt=""></a>
</div>
<div class="container">
<div class="place_style"> 
<ul class="list-inline text-center">
{ZL.Label id="输出健身场所子栏目列表_带图" ParentID="33" ShowNum="10" /}
</ul> 
<div class="clearfix"></div>
</div>
</div> 
<div class="container">
<div class="mysite">
<ol class="breadcrumb">
<li>当前位置：<a href="/">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(3)/}">{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</a></li>  
</ol>
</div>
</div>
<!--面包屑导航结束-->
<div class="place_main">
<div class="container">
<div class="place_title text-center"><a href="{ZL:GetNodeLinkUrl(33)/}" target="_blank">健身场馆</a></div>
<div class="place_title_b text-center"><span>最新最时尚的健身会所</span></div>
<div class="place_border"></div>
<div class="site_select" style="margin-top:20px;">
<ul class="list-inline text-center"> 
<li><a href="/Class_33/Default.aspx?area={$GetUrlencode(南昌县)$}">南昌县</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(新建县)$}">新建县</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(进贤县)$}">进贤县</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(安义县)$}">安义县</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(东湖区)$}">东湖区</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(西湖区)$}">西湖区</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(青云谱区)$}">青云谱区</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(青山湖区)$}">青山湖区</a></li><li><a href="/Class_33/Default.aspx?area={$GetUrlencode(湾里区)$}">湾里区</a></li>
</ul>
</div>
<div class="clearfix"></div>
<ul class="list-unstyled">
{ZL.Label id="输出时尚健身列表" NodeID="33" TitleNum="30" ShowNum="10" SynNum="130" area="{$GetUrldecode({$GetRequest(area)$})$}" /}
</ul>
</div> 
</div>
<div class="sport_shop">
<div class="container">
<div class="place_title text-center"><a href="{ZL:GetNodeLinkUrl(23)/}" target="_blank">体育用品</a></div>
<div class="place_title_b text-center"><span>最全最实用的体育用品</span></div>
<div class="place_border"></div> 
<ul class="list-unstyled">
{ZL.Label id="体育商品列表" NodeID="23" TitleNum="30" ShowNum="6" /}
</ul>
</div>
</div> 
<div class="sport_news">
<div class="container">
<div class="col-lg-2 col-md-2 col-sm-2 padding5 hidden-xs sport_ad"><img src="{$CssDir/}images/sport_ad1.jpg" class="center-block img-responsive" alt="体育资讯"></div>
<div class="col-lg-8 col-md-8 col-sm-8 padding5 col-xs-12">
<div class="place_title text-center"><a href="{ZL:GetNodeLinkUrl(42)/}" target="_blank">体育资讯</a></div>
<ul class="list-unstyled">
{ZL.Label id="文章列表_带简介时间分享" NodeID="42" TitleNum="100" ShowNum="3" synNum="280" area="{$GetUrldecode({$GetRequest(area)$})$}" /}
</ul>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 padding5 hidden-xs sport_ad"><img src="{$CssDir/}images/sport_ad2.jpg" class="center-block img-responsive" alt="体育资讯"></div>
</div>
</div>
<div class="sport_news">
<div class="container">
<div class="col-lg-2 col-md-2 col-sm-2 padding5 hidden-xs sport_ad"><img src="{$CssDir/}images/sport_ad3.jpg" class="center-block img-responsive" alt="体育资讯"></div>
<div class="col-lg-8 col-md-8 col-sm-8 padding5 col-xs-12">
<div class="place_title text-center"><a href="{ZL:GetNodeLinkUrl(43)/}" target="_blank">体育百科</a></div>
<ul class="list-unstyled">
{ZL.Label id="文章列表_带简介时间分享" NodeID="43" TitleNum="100" ShowNum="3" synNum="280" area="{$GetUrldecode({$GetRequest(area)$})$}" /}
</ul>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 padding5 hidden-xs sport_ad"><img src="{$CssDir/}images/sport_ad4.jpg" class="center-block img-responsive" alt="体育资讯"></div>
</div>
</div> 
{ZL.Label id="全站底部"/}
<div class="side_ad hidden-xs">
<div class="container">
<div id=duilian01 class="pull-left">{ZL.Label id="输出对联广告" GeneralID="450" /}<button onClick="ad_close1()"><i class="fa fa-close "></i>关闭</button></div>
<div id=duilian02 class="pull-right">{ZL.Label id="输出对联广告" GeneralID="451" /}<button onClick="ad_close2()"><i class="fa fa-close "></i>关闭</button></div>
</div>
</div>
</body>
</html>
<script type="text/javascript">
//检测固顶事件
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//关闭顶部广告
 function img_clo(){
	var t= setTimeout($(".home_ad").slideUp(2000),2000);	
	}

//导航手机列表向上定时滚动
$(function(){ 
var $this = $(".renav"); 
var scrollTimer; 
$this.hover(function(){ 
clearInterval(scrollTimer); 
},function(){ 
scrollTimer = setInterval(function(){ 
scrollNews( $this ); 
}, 2000 ); 
}).trigger("mouseout"); 
}); 
function scrollNews(obj){ 
var $self = obj.find("ul:first"); 
var lineHeight = $self.find("li:first").height(); 
$self.animate({ "margin-top" : -lineHeight +"px" },300 , function(){ 
$self.css({"margin-top":"0px"}).find("li:first").appendTo($self); 
}) 
}
 
$().ready(function(e) {
   
	
	$(".share_bt").mouseover(function(e) {
        $(this).find(".bdsharebuttonbox").show();
    }).mouseout(function(e) {
        $(this).find(".bdsharebuttonbox").hide();
    });;  
}); 
</script>