<?xml version="1.0"?>
<SiteConfig>
  <FrontTemplateList />
  <IPLockConfig>
    <AdminLockIPBlack />
    <AdminLockIPType>0</AdminLockIPType>
    <AdminLockIPWhite />
    <LockIPBlack />
    <LockIPType>0</LockIPType>
    <LockIPWhite />
  </IPLockConfig>
  <MailConfig>
    <MailServerList>web@zoomla.cn</MailServerList>
    <AuthenticationType>Basic</AuthenticationType>
    <EnabledSsl>false</EnabledSsl>
    <MailFrom>xp@zoomla.cn</MailFrom>
    <MailServer>smtp.exmail.qq.com </MailServer>
    <MailServerPassWord>hx008.com</MailServerPassWord>
    <MailServerUserName>xp@zoomla.cn</MailServerUserName>
    <Port>25</Port>
  </MailConfig>
  <DeliverConfig>
    <City>上海</City>
  </DeliverConfig>
  <ShopConfig>
    <OrderNum>0</OrderNum>
    <Unit>e</Unit>
    <EnableCoupon>false</EnableCoupon>
    <EnableGuestBuy>false</EnableGuestBuy>
    <EnablePartPay>false</EnablePartPay>
    <MoneyPresentPoint>1</MoneyPresentPoint>
    <TaxRate>0</TaxRate>
    <TaxRateType>0</TaxRateType>
  </ShopConfig>
  <SiteInfo>
    <LogoAdmin>/Template/Travel/style/images/admin_logo.jpg</LogoAdmin>
    <BannerUrl>images/bannaer.jpg</BannerUrl>
    <Copyright>Copyright &amp;copy; 2015 江西三创传媒有限公司 版权所有 赣ICP证号  </Copyright>
    <LogoUrl>/Template/Travel/style/images/logo.png</LogoUrl>
    <MetaDescription>三创赣旅网官网</MetaDescription>
    <MetaKeywords>三创,旅游,赣州</MetaKeywords>
    <SiteName>赣旅网</SiteName>
    <SiteTitle>赣旅网</SiteTitle>
    <SiteUrl>http://x025.2012.hx008.com</SiteUrl>
    <VirtualPath>/</VirtualPath>
    <Webmaster>站长</Webmaster>
    <WebmasterEmail>web@Zoomla.cn</WebmasterEmail>
    <AllSiteJS />
  </SiteInfo>
  <SiteOption>
    <IsSaveRemoteImage>false</IsSaveRemoteImage>
    <FileRj>0</FileRj>
    <FileN>0</FileN>
    <KDAPI>1</KDAPI>
    <KDKey>3138ddb0e7e24cf3</KDKey>
    <OrderMsg_Chk>true</OrderMsg_Chk>
    <OrderMsg_Tlp>你的订单已经生成,订单号{OrderNo},收货人{Receiver},
地址位于:{Extend.Remind},随机码是{Extend.RandomCode}</OrderMsg_Tlp>
    <IsOpenHelp>1</IsOpenHelp>
    <MailPermission>1</MailPermission>
    <Language>ZH-CN</Language>
    <SendTime>0001-01-01T00:00:00</SendTime>
    <OpenSendMessage>false</OpenSendMessage>
    <G_content>订单号:{m:orderno},{m:username},{m:sendTime},中国最美乡村婺源旅游8折消费,行程变更或取消请致电021-8888888</G_content>
    <G_blackList>1</G_blackList>
    <G_uid>txjly</G_uid>
    <G_eid>10640</G_eid>
    <G_pwd>830874</G_pwd>
    <G_gate_id>300</G_gate_id>
    <DefaultSMS>1</DefaultSMS>
    <IsSMSNotice>false</IsSMSNotice>
    <IsEmailNotice>false</IsEmailNotice>
    <IsFlashPaper>false</IsFlashPaper>
    <Videourl>rtmp://127.0.0.1:1935/live/</Videourl>
    <freedomain>c.com</freedomain>
    <SiteManageMode>3</SiteManageMode>
    <AdvertisementDir>/AD</AdvertisementDir>
    <EnableSiteManageCode>false</EnableSiteManageCode>
    <MastMoney>0</MastMoney>
    <EnableSoftKey>false</EnableSoftKey>
    <EnableHuShenHe>false</EnableHuShenHe>
    <EnableUploadFiles>true</EnableUploadFiles>
    <IsAbsoluatePath>true</IsAbsoluatePath>
    <IsZone>true</IsZone>
    <Cloud_Auth>read,del,up,</Cloud_Auth>
    <IsMall>true</IsMall>
    <ManageDir>Admin</ManageDir>
    <TraditionClose>false</TraditionClose>
    <SiteManageCode>8888</SiteManageCode>
    <CloudLeadTips>1</CloudLeadTips>
    <TemplateDir>/Template/Travel</TemplateDir>
    <ProjectServer>http://update.zoomla.cn</ProjectServer>
    <ShopTemplate />
    <IndexTemplate>/全站首页.html</IndexTemplate>
    <GeneratedDirectory>html</GeneratedDirectory>
    <PdfDirectory />
    <IndexEx>3</IndexEx>
    <CssDir>/Template/Travel/style</CssDir>
    <StylePath>global.css</StylePath>
    <UploadDir>/UploadFiles/</UploadDir>
    <UploadFileExts>gif|jpg|jpeg|jpe|bmp|png|flv|doc|ppt|pptx|xls|docx|txt|accdb|xlsx|sql|mp3|f4v|mp4|wmv|csv|tmp|pdf|zip|rar|docx</UploadFileExts>
    <UploadFileMaxSize>204800</UploadFileMaxSize>
    <UploadPicExts>gif|jpg|jpeg|jpe|bmp|png|flv|doc|ppt|pptx|xls|docx|txt|accdb|xlsx|sql|mp3|f4v|mp4|wmv|tmp|pdf|zip|rar|docx</UploadPicExts>
    <UploadPicMaxSize>204800</UploadPicMaxSize>
    <UploadMdaExts>avi|rm|real|mpge|mpg|swf|flv|doc|ppt|pptx|xls|docx|txt|accdb|xlsx|sql|jpg|doc|xls|f4v|wmv|mp3|mp4|tmp|pdf|zip|rar|docx</UploadMdaExts>
    <UploadMdaMaxSize>204800</UploadMdaMaxSize>
    <UploadFlhMaxSize>204800</UploadFlhMaxSize>
    <MssUser>qisha</MssUser>
    <MssPsw>x194687</MssPsw>
    <Sensitivity>臺獨,藏獨,法車侖功,臺犭蟲,藏犭蟲</Sensitivity>
    <UAgent>false</UAgent>
    <ServerType>Server</ServerType>
    <OpenLog>0</OpenLog>
    <Savadaylog>0</Savadaylog>
    <EditVer>3</EditVer>
    <Savanumlog>0</Savanumlog>
    <ContentConfig>1</ContentConfig>
    <OpenAudit>0</OpenAudit>
    <OpenMessage>0</OpenMessage>
    <IsSensitivity>0</IsSensitivity>
    <SiteCollKey>whatwin100</SiteCollKey>
    <FlexKey>wer123124564578</FlexKey>
    <MoveFile>0</MoveFile>
    <JS />
    <RegPageStart>true</RegPageStart>
    <Desk>All|11111|111111|111111|1111|111|111</Desk>
    <SendNum>0</SendNum>
    <SMSTips>false</SMSTips>
    <DeleteLocal>false</DeleteLocal>
    <WxToken>Token</WxToken>
    <WxTxtBox>uuuwww</WxTxtBox>
    <NeedCheckRefer>/user/iserver/
/user/info/</NeedCheckRefer>
    <SafeDomain />
  </SiteOption>
  <ThumbsConfig>
    <AddBackColor>#EE1169</AddBackColor>
    <ThumbsHeight>130</ThumbsHeight>
    <ThumbsMode>1</ThumbsMode>
    <ThumbsWidth>99</ThumbsWidth>
  </ThumbsConfig>
  <UserConfig>
    <IntegralPercentage>15.5</IntegralPercentage>
    <InviteCodeCount>1</InviteCodeCount>
    <PresentPointAll>5</PresentPointAll>
    <PresentPointTg>6</PresentPointTg>
    <AdminCheckReg>false</AdminCheckReg>
    <EmailCheckReg>false</EmailCheckReg>
    <EmailRegis>true</EmailRegis>
    <EmailTell>true</EmailTell>
    <EmailOfRegCheck>      欢迎您注册成为本站会员！&lt;br /&gt;
      验证码：{$CheckNum}&lt;br /&gt;
      请点击下面的地址，输入上面的验证码进行邮件验证。验证通过后，您就可以正式成为我们的会员，享受有关服务了！&lt;br /&gt;
      &lt;a href='{$CheckUrl}' target='_blank'&gt;{$CheckUrl}&lt;/a&gt;
    </EmailOfRegCheck>
    <EmailPlatReg>
      &lt;div style='padding: 20px 20px 20px 20px; width: 600px; margin: auto; font-size: 16px;'&gt;
      &lt;div&gt;
      &lt;img src='http://demo.zoomla.cn/Images/logo.png' /&gt;
      &lt;div style='color: gray; text-align: right;'&gt;用户注册&lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;
      &lt;div&gt;
      &lt;a href='mailto:{Email}' target='_blank'&gt;{Email}&lt;/a&gt;您好!&lt;br /&gt;
      欢迎你使用逐浪能力中心!
      &lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px dashed #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;
      &lt;div&gt;您可以点击以下链接激活账户：&lt;/div&gt;
      &lt;div&gt;{Url}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div&gt;如果以上链接无法点击，请将上面的地址复制到您的浏览器（如IE）的地址栏。&lt;/div&gt;
      &lt;div style='border-bottom: 1px solid #ddd; margin-top: 10px; margin-bottom: 20px;'&gt;&lt;/div&gt;
      &lt;div style='background-color: #f7f7f7;'&gt;如果您在使用中有任何的疑问和建议，欢迎您给我们反馈意见&lt;/div&gt;
      &lt;/div&gt;
    </EmailPlatReg>
    <EmailTellContent>      亲爱的{$UserName}:
      恭喜您成为本站正式会员，您的用户密码是：{$UserPwd}。&lt;br /&gt;
      请妥善保存。
    </EmailTellContent>
    <MobileRegInfo>欢迎您注册{$SiteName}，您的验证码是：{$CheckNum}
    </MobileRegInfo>
    <EnableCheckCodeOfLogin>false</EnableCheckCodeOfLogin>
    <EnableCheckCodeOfReg>false</EnableCheckCodeOfReg>
    <EnableMultiLogin>true</EnableMultiLogin>
    <EnableMultiRegPerEmail>false</EnableMultiRegPerEmail>
    <EnableQAofReg>false</EnableQAofReg>
    <EnableRegCompany>false</EnableRegCompany>
    <EnableUserReg>true</EnableUserReg>
    <GroupId>0</GroupId>
    <MoneyExchangePointByMoney>1</MoneyExchangePointByMoney>
    <MoneyExchangePointByPoint>10</MoneyExchangePointByPoint>
    <MoneyExchangeDummyPurseByMoney>1</MoneyExchangeDummyPurseByMoney>
    <MoneyExchangeDummyPurseByDummyPurse>15</MoneyExchangeDummyPurseByDummyPurse>
    <MoneyExchangeValidDayByMoney>1</MoneyExchangeValidDayByMoney>
    <MoneyExchangeValidDayByValidDay>1</MoneyExchangeValidDayByValidDay>
    <PointName>点券</PointName>
    <PointUnit>点</PointUnit>
    <PointMoney>1</PointMoney>
    <ChangeSilverCoinByExp>5</ChangeSilverCoinByExp>
    <PointSilverCoin>1</PointSilverCoin>
    <PointExp>5</PointExp>
    <PresentExp>20</PresentExp>
    <PresentExpPerLogin>0</PresentExpPerLogin>
    <SigninPurse>1</SigninPurse>
    <PresentMoney>0</PresentMoney>
    <PresentPoint>6</PresentPoint>
    <PresentValidNum>0</PresentValidNum>
    <Integral>0</Integral>
    <PresentValidUnit>2</PresentValidUnit>
    <RegFieldsMustFill />
    <RegFieldsSelectFill />
    <UserExpExchangePointByExp>1</UserExpExchangePointByExp>
    <UserExpExchangePointByPoint>1</UserExpExchangePointByPoint>
    <UserExpExchangeValidDayByExp>1</UserExpExchangeValidDayByExp>
    <UserExpExchangeValidDayByValidDay>1</UserExpExchangeValidDayByValidDay>
    <UserGetPasswordType>3</UserGetPasswordType>
    <UserGetPasswordEmail>用户：{$UserName}在{$SiteName}找回密码，点此{$ReturnUrl}找回密码，链接24小时内有效！</UserGetPasswordEmail>
    <UserNameLimit>2</UserNameLimit>
    <UserNameMax>40</UserNameMax>
    <UserNameRegDisabled>admin|administrator|system|operator|support|root|postmaster|webmaster|security</UserNameRegDisabled>
    <CommentRule>5</CommentRule>
    <InfoRule>33</InfoRule>
    <RecommandRule>30</RecommandRule>
    <LoginRule>10</LoginRule>
    <UserValidateType>true</UserValidateType>
    <MessageGroup />
    <PromotionType>0</PromotionType>
    <Promotion>0</Promotion>
    <RegRule>,,</RegRule>
    <Agreement>0</Agreement>
    <EnableAlipayCheckReg>true</EnableAlipayCheckReg>
    <PunchType>0</PunchType>
    <PunchVal>0</PunchVal>
    <EmailRegInfo>&lt;a href="mailto:{$EMail}" target="_blank"&gt;{$EMail}&lt;/a&gt;，您好！&lt;br /&gt;
&lt;br /&gt;
&lt;br /&gt;
感谢您注册{$SiteName}，您的账号:&lt;a href="mailto:{$EMail}" target="_blank"&gt;{$EMail}&lt;/a&gt;&lt;br /&gt;
&lt;br /&gt;
点击下面的链接即可开通您的帐户：&lt;br /&gt;
&lt;br /&gt;
&lt;br /&gt;
{$ClickUrl}&lt;br /&gt;
&lt;br /&gt;
(如果链接无法点击，请将它拷贝到浏览器的地址栏中。)&lt;br /&gt;
&lt;br /&gt;
{$SiteName} &lt;a href="{$SiteUrl}" target="_blank"&gt;{$SiteUrl}&lt;/a&gt;&lt;br /&gt;</EmailRegInfo>
    <UserIDlgn>true</UserIDlgn>
    <MobileReg>false</MobileReg>
    <UserMobilAuth>1</UserMobilAuth>
  </UserConfig>
  <WaterMarkConfig>
    <WaterMarkImageInfo>
      <ImagePath>skin/default/images/logo.gif</ImagePath>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkImageInfo>
    <WaterMarkTextInfo>
      <FoneBorder>1</FoneBorder>
      <FoneBorderColor>#000000</FoneBorderColor>
      <FoneColor>#1A1AE6</FoneColor>
      <FoneSize>12</FoneSize>
      <FoneStyle>Bold</FoneStyle>
      <FoneType>宋体</FoneType>
      <Text>逐浪CMS</Text>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkTextInfo>
    <WaterMarkType>1</WaterMarkType>
  </WaterMarkConfig>
  <SiteZone>
    <ZoneAuditing>false</ZoneAuditing>
    <ZoneFriendManageInfo>
      <SearchFriendMarry>false</SearchFriendMarry>
    </ZoneFriendManageInfo>
  </SiteZone>
  <QMail>
    <RegValidateTitle>欢迎你！订阅邮件信息</RegValidateTitle>
    <RegValidateContext>
      亲爱的{UserName}:

      欢迎你订阅我们网站的信息，为了确认你的邮箱，请点击下面的链接地址。


      谢谢！

      {Url}
    </RegValidateContext>
  </QMail>
  <BuyConfig />
  <SpaceSet>
    <templetName>聚合页</templetName>
    <home>/频道首页/商城频道首页.html</home>
    <list>/列表页/商城列表页.html</list>
    <content>/内容页/默认商城模型内容页.html</content>
    <setTime>50</setTime>
  </SpaceSet>
  <BankComm>
    <BankcommUrl>http://pay.2011.hx008.com/Merchant.aspx</BankcommUrl>
  </BankComm>
</SiteConfig>