{ZL.Source id="招聘信息数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="招聘信息数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="招聘信息数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
.navbar-default .navbar .nav_l .menu5 a{ margin-top:-2px; border-top:2px solid #2E9900;background:#288400; }
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="mySite">
<div class="container">
<ul class="breadcrumb">
<li>您的位置：<a href="/">首页</a></li>
<li>{ZL.Label id="抽取父节点ID名与链接" NodeID="{SField sid="招聘信息数据源标签" FD="NodeID" page="0"/}" /}</li>
<li>招聘信息</li>
<li>{SField sid="招聘信息数据源标签" FD="Title" page="0"/}</li>
</ul>
</div>
</div>
<!--面包屑导航结束-->
<div class="recruit">
<div class="container">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pic_shop">
<ul class="list-unstyled">
{ZL.Label id="抽取图库内容页商铺信息" author="{SField sid="招聘信息数据源标签" FD="Inputer" page="0"/}" NodeID="65" /}
</ul> 
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 recruit_r">
<h1>{SField sid="招聘信息数据源标签" FD="Title" page="0"/}</h1><span style="display:none;"><SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="招聘信息数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span>
<div class="recruit_r_item">
<div class="recruit_r_title">职位信息</div>
<ul class="list-unstyled">
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_r border_b"><span>发布时间：</span>{SField sid="招聘信息数据源标签" FD="UpDateTime" page="0"/}</li>
<li class="col-lg-5 col-md-5 col-sm-5 col-xs-12 border_r border_b"><span>工作地点：</span>{SField sid="招聘信息数据源标签" FD="WorkPlace" page="0"/}</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 border_b"><span>招聘人数：</span>{SField sid="招聘信息数据源标签" FD="RecNum" page="0"/}</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_r"><span>学历要求：</span>{SField sid="招聘信息数据源标签" FD="Education" page="0"/}</li>
<li class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><span>薪水范围：</span>{SField sid="招聘信息数据源标签" FD="Salary" page="0"/}</li>
<div class="clearfix"></div>
</ul>
<div class="clearfix"></div>
</div>
<div class="recruit_r_item">
<div class="recruit_r_title">职位描述</div>
<p>{SField sid="招聘信息数据源标签" FD="Job" page="0"/}</p>
<div class="celarfix"></div>
</div>
<div class="recruit_r_item">
<div class="recruit_r_title">企业介绍</div>
{SField sid="招聘信息数据源标签" FD="ComInfo" page="0"/}
</div>
<div class="text-center padding1"><input type="button" value="立即申请" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="padding-left:30px; padding-right:30px;"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<form name="form8" id="form8" method="post" action="/PubAction.aspx">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span>关闭</span><span class="sr-only">Close</span></button>
<h1 class="modal-title" id="myModalLabel">投递简历</h1>
</div>
<div class="modal-body">
{ZL.Label id="输出当前登陆用户的简历列表" NodeID="30" TitleNum="30" /}
<input name="PubTitle" type="text" id="PubTitle" value="{ZL:GetuserName()/}的简历" style="display:none;">
<input type="hidden" name="PubID" id="PubID" value="8">
<input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"><input type="hidden" name="PubInputer" id="PubInputer" value="{PubInputer/}">
<textarea name="PubContent" id="PubContent" rows="10" class="form-control" style="margin-top:10px;"></textarea>
</div>
<div class="modal-footer">
<span style="margin-right:30px;">还没简历？<a href="/User/Content/MyContent.aspx?NodeID=30" target="_blank">去创建我的简历</a></span>
<input type="submit" class="btn btn-danger" onClick="self_info()" value="立即申请" />
</div>     
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div style="display:none;">{ZL.Label id="获取简历内容" NodeID="30" /}</div>
{ZL.Label id="全站底部"/}
</body>
</html>
<script type="text/javascript">
$().ready(function(e) {
   $(".modal-body").find("select").change(function(e) {
   if($(this).val()!=''){
	  $("#PubContent").text(document.getElementById("resume"+$(this).val()).textContent); 
   }
   else{
	  $("#PubContent").text("您还没选择简历哦!"); 
   }
});
});

$(".grade1").append('<i class="fa fa-star">');
$(".grade2").append('<i class="fa fa-star"><i class="fa fa-star">');
$(".grade3").append('<i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star">');
$(".grade4").append('<i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star">');
$(".grade5").append('<i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star"><i class="fa fa-star">');	
</script>
